@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
  margin: 0;
}

.animate-bounce-reverse {
  animation: bounce-reverse 1s infinite;
}

@keyframes bounce-reverse {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
